body {
    background: pink;
    max-width: max-content;
    margin: auto;

    padding-top: 20px;
    padding-bottom: 20px;  
}

.favCar{
    
}
#enter{
    background-color: wheat;
}
img{
    display: block;
}