body {
    background: pink;
    max-width: max-content;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  
}



.favCar{
    background-color: wheat;
} 
.favCar #input{
    background-color: white;
}
#enter{
    background-color: wheat;
}
p{
    display: inline;
    vertical-align: top;
    
}
a:visited {
    color: peru;
}
a{
    display: block;
    font-size: x-large;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: burlywood;
}