body {
    background: pink;
    max-width: max-content;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  
}

.favCar{
    background-color: wheat;
}
#enter{
    background-color: wheat;
}
img{
    display: inline;
}
p{
    display: inline;
}
a:visited {
    color: peru;
}
.link{
    display: block;
    font-size: x-large;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    background-color: burlywood;
}